.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.centered-no-block{
  margin-right: auto;
  margin-left: auto;
}
.centered{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.width-50pcent{
  width: 50%;
}

@media screen and (max-width: 767px) {
  .nav-box {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .nav-mobile {
    display: none !important;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .column-third {
    width: calc(80% / 3);
  }
}
